<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kotlin.message">
    <application>
        <receiver
            android:name=".receiver.MessageReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.kotlin.mall" />
            </intent-filter>
        </receiver>

        <meta-data android:name="JPUSH_APPKEY" android:value="${JPUSH_APPKEY}" tools:replace="android:value"></meta-data>
        <meta-data android:name="JPUSH_CHANNEL" android:value="${JPUSH_CHANNEL}" tools:replace="android:value"></meta-data>
    </application>
</manifest>
