<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.order">

    <application>
        <activity android:name=".mvp.view.activity.OrderConfirmActivity" />
        <activity android:name=".mvp.view.activity.ReceivingAddressActivity" />
        <activity android:name=".mvp.view.activity.ReceivingAddressEditActivity" />
        <activity android:name=".mvp.view.activity.OrderListActivity" />
        <activity android:name=".mvp.view.activity.OrderDetailActivity"></activity>
    </application>

</manifest>