<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.goods">

    <application>
        <activity android:name=".mvp.view.activity.GoodsListActivity" />
        <activity android:name=".mvp.view.activity.SearchGoodsActivity" />
        <activity android:name=".mvp.view.activity.GoodsDetailActivity"></activity>
    </application>

</manifest>